* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  transition: 0.2s linear;
  /* border: none;
  outline: none; */
}

:root{
  --hero_color:#800020
}


.main_color{
  color: var(--hero_color);
}

.secondry_color{
  color: #e6b641;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--hero_color);
 
}


/* ---------------------------------------- */

.header{
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  
}

.header:hover{
  box-shadow: 0px 0px 1.8rem 0.6rem #e0d9d9;
}

.logo img{
  max-width: 28rem;
  cursor: pointer;
}


.menu_list{
  position: absolute;
  margin-top: 4rem;
  
  background-color: white;
  font-size: 1.8rem;
  padding: 0.8rem 0;
  z-index: 100;
  list-style: none;
  display: none;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
}

.display_block{
  display: block;
}

.menu_btn{
  color: black;
  text-align: left;
  display: block; 
  padding: 0.5rem 5rem;
  
 

}


.menu_btn:hover{
  background-color: var(--hero_color);
  color: white;
}


.menu_logo_text{
  margin: 0 2rem 0 1rem;
  font-size: 2rem;
  
}

.carousel-item{
  background: linear-gradient(rgba(0,0,0,0.7));
}

.list_contact{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide{
   display: none;
    background: var(--hero_color);
    border-radius: 0.8rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    transition: all .3s linear;
    color: white;
    font-size: 1.8rem;
}

.menu_items{
  display: flex;
  flex-direction: column;
}


.nav {
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.right{
  display: flex;
  align-items:baseline;
  justify-content: center;
}

.right img{
  width: 17px;
  cursor: pointer;
}






.contact_btn{
  background: var(--hero_color);
    border-radius: 0.8rem;
    display: inline-block;
    padding: 1.6rem 2.8rem;
    transition: all .3s linear;
    color: white;
    font-size: 1.8rem;
}

.contact_btn:hover{
  background: #b91818f9;
  transform: scale(1.09);
}

.main_carousel{  
    background: url('https://haizen.web.app/static/media/hero_slider_2.d82957c043ce4509b645.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    width: 100%;
    position: relative;
  }

  .main_heading{
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: white;
    font-weight: 700;
    font-size: 5.6rem;
    z-index: 500;
  }

  .hero_carousel{
    
    margin-bottom: 3rem;
    /* height: 70vh; */
    /* z-index: -20; */
}

.carousel-control-prev-icon{
  color: var(--hero_color);
}

.carousel_img{
 height: 100vh;
 width: 100%;
 position: relative;
}



  .running_no{
    padding: 4.5rem 0;
  }

  .box_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
    
  }


  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15.6rem;
    width: 17.2rem;
    margin: 0 1.5rem;
    background: #fafafa;
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
  }

  .box:hover{
    box-shadow: 0px 0px 1.8rem 0.6rem #e0d9d9;
  }


  /* -------------- about ------------- */

  .about{
    padding: 4rem 0;
  }

  .about-img img{
   max-height: 40rem;
   /* width: 100%; */
   border-radius: 0.7rem;
  }

  .about-right h1{
    font-size: 4.8rem;
    font-weight: 700;
    position: relative;
  }

.about-right h1:after {
    border: 1px solid var(--hero_color);
    content: "";
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    width: 60%;
}

  .para-box{
    padding: 1.5rem 2.5rem;
  }

  .para-box p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
  }


  /* ---------------- mission section ---------------- */


  .mission{
    padding: 10rem 0;
  box-shadow: 0px 0px 0.6rem 0.1rem #e0d9d9;
  }

  .mission-img img{
   height: 46.7rem;
  }

  .mission-left{
    padding: 4rem;
  }

  .mission-left h1{
    font-size: 4.8rem;
    font-weight: 700;
    /* color: var(--hero_color); */
    position: relative;
  }

  .about-para-box{
    padding: 1.5rem 2.5rem;
  }

  .about-para-box p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 160%;
    /* color: white; */
  }

  .mission-left h1:after {
    width: 20%;
    
}
.mission-left h1:after {
    border: 1px solid var(--hero_color);
    content: "";
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    width: 29%;
}

.about-img{
  padding: 4rem;
}

/* ----------------------- Values ------------------ */


.values .container h1{
  font-size: 4.8rem;
  font-weight: 700;
  
}

.values{
  margin-top: 4rem;
}

.vcard_container{
  padding: 3rem 0;
}

.vcard{
  padding: 3rem ;
  max-width: 36.7rem;
  height: 100%;
  border-radius: 1.2rem;
}

.vcard:hover{
  box-shadow: 0px 0px 1.8rem 0.6rem #e0d9d9;
  transform: scale(1.08);
}



.vcard img{
  width: 8.6rem;
  margin: 1rem 0;
}

.vcard h2{
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;

}
.vcard h3{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.vcard p{
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1rem;
}


/* --------------- quote ---------------- */

.quote{
  padding: 6rem 0;
  width: 100%;
  background: url('/pics/bg3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-body p{
  /* color: white; */
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 4rem;
  border: 3px solid #800020;
 
}


/* ---------------- Team section ---------------- */


.team{
  padding: 6rem 0;
}

.team-left{
  padding: 4rem;
}

.team-left h1{
  font-size: 4.8rem;
  font-weight: 700;
  position: relative;
}

.team-para-box{
  padding: 1.5rem 2.5rem;
}

.team-para-box p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.team-left h1:after {
  width: 20%;
  
}
.team-left h1:after {
  border: 1px solid var(--hero_color);
  content: "";
  margin-left: 1rem;
  position: absolute;
  top: 53%;
  width: 29%;
}

.team-img{
padding: 4rem;
}


.team-para-box{
  padding: 1.5rem 2.5rem;
}

.team-para-box p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}


/* ---------------- service -------------- */

.services{
  padding: 6rem 0;
  box-shadow: 0px 0px 0.6rem 0.1rem #e0d9d9;
  /* background: url('https://haizen.web.app/static/media/mission-bg.4d3e3b8c52e927d2e0c6.webp'); */
}

.service_container{
  display: flex;
  align-items: center;
  justify-content: start;
}

.service_main_heading h1{
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--hero_color);
  margin-left: 1.8rem;
}
.service_para p{
  font-size: 1.5rem;
  /* color: white; */
  
}

/* ------------------ Projects ---------------- */

.project{
  padding: 6rem 0;
  
}


.project_left,
.project_right{
  padding: 4rem;
}

.project_left h1{
  font-size: 4.8rem;
  font-weight: 700;
  position: relative;
}

.project_left h2,
.project_right h2{
  font-size: 2.4rem;
  font-weight: 700;
}

.project_left h3,
.project_right h3{
  font-size: 2rem;
  font-weight: 400;
  
}


.project_left_img,.project_left_img a,
.project_right_img,.project_right_img a{
  margin: 3rem 0;
}


.project_left h1:after {
  width: 20%;
  
}
.project_left h1:after {
  border: 1px solid var(--hero_color);
  content: "";
  margin-left: 1rem;
  position: absolute;
  top: 50%;
  width: 29%;
}


/* ----------------- operate left==right -------------- */


.operate{
  padding: 7rem 0;
  box-shadow: 0px 0px 0.6rem 0.1rem #e0d9d9;
}

.operate-img img{
 /* height: 54.4rem; */
 width: 100%;
}


.operate-left{
  padding: 4rem;
  margin-top: 2.5rem;
}



.operate-left h1{
  font-size: 4.8rem;
  font-weight: 700;
  position: relative;
}

.operate-left h2{
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.5rem 0 2rem 0;
}

.operate-para-box{
  margin-top: 4rem;
}



.operate-para-box p{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}


.opearte-img{
padding: 4rem;
}

.list{
  display: flex;
  align-items: center; 
  
}

.list_one{
  margin-right: 6rem;
}


.ul li{
  list-style: none;
  font-size: 1.8rem;
  margin: 1.5rem 0;
  font-weight: 600;
}


/* ---------------- contact ----------- */

.contact{
  padding: 4rem 0;
  box-shadow: 0px 0px 0.6rem 0.6rem #efeaea;
}

.form_heading{
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  margin: 2rem 0;
}
.input_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.input{
  width: 70%;
  padding: 1rem 1.5rem;
font-size: 1.8rem;
border-radius: 0.5rem;
border: 0.1rem solid var(--hero_color);
}

textarea{
  resize: none;
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.send_btn{
    background: var(--hero_color);
    border-radius: 0.8rem;
    display: inline-block;
    padding: 1.2rem 2.8rem;
    transition: all .3s linear;
    color: white;
    font-size: 1.9rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    width: 30%;
}

.send_btn:hover{
  background-color: #851313;
  transform: scale(1.1);
}

/* ------------------ footer ---------------- */

.footer{
  padding: 3rem 0;
  position: relative;
}

.footer p{
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
   
    font-weight: 400;
    line-height: 160%;


}

.line{
  border: 1px solid var(--hero_color);
}

.footer_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h3{
  justify-content: center;
  display: flex;
  align-items:center;
  
}

.copyright{
 position: absolute;
 left: 40%;
 bottom: 1%;
}




.phone{
  list-style: none;
  font-size: 1.7rem;
  margin: 1.5rem 0;
}

.phone a {
  color: black;
}

.phone i{
  font-size: 2.2rem;
  margin: 0 0.8rem;
}

.phone i:hover{
  transform: scale(1.2);
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details_right_icon{
  display: block;
}


.details_right_icon i{
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.details_right_icon i:hover{
  transform: scale(1.2);
}


/* ------------------- click to top --------- */

.click_top{  
  background-color: var(--hero_color);
  position: fixed;
  bottom: 5%;
  right: 2%;
  border-radius: 50%;
  padding: 1.5rem 1.8rem;

  display: none;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;


  animation: up-down 2.5s ease-in-out infinite;
  
}

@keyframes up-down {
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}
}

.click_top:hover{
  box-shadow: 0px 0px 1rem 0.2rem #a11010;
  background-color: #9e0a0a;
}

.click_top i{
  font-size: 2.4rem;
  color: white;
  font-weight: 700;
}





/* ---------------- Swiper ------------------- */

/* ######################################### */

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 10;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--hero_color);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--hero_color);
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  /* height: 150px;
  width: 150px; */
  border-radius: 50%;
  /* background: #FFF; */
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
  border: 4px solid var(--hero_color);
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: var(--hero_color);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #b72424;
}

.swiper-navBtn{
  color: var(--hero_color);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: var(--hero_color);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: var(--hero_color);
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: var(--hero_color);
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* ######################################### */











/* -------------------------- */

@media (max-width: 1400px){
  .mission-left h1:after{
    display: none;
  }
}

@media (max-width: 1200px){
  .mission-left {
    padding: 4rem 0;
  }
}



@media (max-width: 992px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
    
  }.hero_carousel{
    margin-bottom: unset;
  }
  
  .footer_left p{
    font-size: 2rem;
  }


  .about-img {
    padding: unset;
  }

 

  .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .details_right_icon {
    display: unset;
    margin: 0 2rem;
}

  .main_heading {
    font-size: 3.6rem;
}

.input{
  width: 85%;
  padding: 1rem 1.5rem;
  font-size: 2.5rem;
}

.input:active{
  border-color: #800020;
}

  .nav {
    padding: 0;
  }
  .home h3 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 0;
  }
}

@media (max-width: 768px){
  .row{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    /* flex-wrap: wrap; */
  }


  .about-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project_left,
  .project_right{
    padding: 0rem;
  }

  .carousel-item, .carousel_img{
    height: 60vh;
  }

  .main_heading{
    left: 10%;
    bottom: 40%;
    font-size: 3rem;
  }
  

  .para-box, .about-para-box, .team-para-box {
    padding: 0.5rem 0.5rem;
}

.mission {
  padding: unset;
}

.mission-left, .team-left, .quote, .services, .operate, .operate-left, .about,.vcard, .running_no {
  padding: 2.5rem 1rem;
}

.values{
  padding-top: 4rem;
}
.vcard_container{
  padding:0;
}

.team-left h1:after, .project_left h1, .about-right h1:after{
  display: none;
}


.quote{
  background-size: unset;
}

.quote-body p{
  font-size: 2.5rem;
}

.service_main_heading h1{
  margin-left: unset;
}


.service_para p{
  font-size: 1.8rem;
}


  .team-img{
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  .team-img img{
    width: 100%;
    height: 100%;
  }

  .logo img{
    max-width: 25rem;
  }

  .details {
    
    justify-content:left;
    align-items: start;
    
}

  .about-img{
    padding: 0;
  }

  .about-img img {
    height: 100%;
    max-width: 100%;
}

.box{
  margin-bottom: unset;
}

}

@media (max-width: 576px) {
  .box{
    height: 12rem;
    width: 14rem;
  }

  .box{
    margin: 1.5rem;
  }




  .click_top{
    display: none;
  }

  .input{
    width: 90%;
  }

  .send_btn{
    
      padding: 1rem 3rem;
      font-size: 1.5rem;
      margin-top: 1rem;
  }

  .contact_btn{
      padding: 1rem 1.8rem;
      font-size: 1.8rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  #click_top{
    display: none;
  }
}

@media (max-width: 420px){
  

  .menu_list {
    border-radius: unset;
    font-size: 2.5rem;
    position: fixed;
    right: 0;
    top: 6%;
  }

 

  .hide{
    display: block;
    
  }

  .see{
    display: none;
  }
  
  .menu_btn{ 
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
  
  }
}