* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    transition: 0.2s linear;
    border: none;
    outline: none;
    overflow-x: none;
  }
  
  .main_color{
    color: #800020;
  }

  .secondry_color{
    color: #800020;
  }
  
  html {
    font-size: 62.5%;
  }

   /* ----------- about section starts ------------- */

   .service_first{  
    background:url('/pics/bg3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 8rem;
    margin-top: 8rem;
  }

  .service_container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .service_text_container{
    
    width: 60%;
  }

  .service_text_container h1{
    font-size: 4.8rem;
    font-weight: 700;
    /* color: white; */
    position: relative;
    text-align: center;
  }

  .service_text_container p{
    /* color: white; */
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.8;
  }



  
  /* ------------------- Planning -------------- */


  .planning{
    padding: 10rem 0;
  }

  

  .planning-img{
    /* padding-right: 8rem; */
    max-height: 40rem;
  }

  .planning_left_container{

      display: flex;
      align-items: center;
  }

  .planning-left{
    padding-left: 8rem;
  }

 .planning-left h1{
    font-size: 4.8rem;
    font-weight: 700;
    
  }

  .planning-para-box p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 160%;
    margin: 1.5rem 0;
  } 


  .btn_box{
    padding-right: 1.5rem;
  }


  .btn_box ul li{
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .planning-img{
    padding-left: 4rem;
  }

  .planning-img img{
    max-height: 40.1rem;
  }

  /* -------------------------------- */

  .planning_right_container{

    display: flex;
    align-items: center;
}

.planning-right{
  padding-left: 4rem; 
}

.planning-right h1{
    font-size: 4.8rem;
    font-weight: 700;
}

.facility-img{
    padding-left: 4rem;
}

.facility-img img{
    max-height: 40.1rem;
}

.facility-row{
  display: flex;
  flex-wrap: wrap-reverse;
}



  
/* --------------------------- --------------------- */

@media (max-width: 992px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
    
  }

  .service_first{
    padding: 1.5rem 0;
  }

  .service_text_container{
    width: 95%;
  }

  .planning-left, .facility-img, .planning-right{
    padding-left: unset;
  }

  .planning-img, .facility-img img{
    padding-left: unset;
    padding-right: unset;
    max-width: unset;
  }


  .planning{
    padding: 0.5rem 0;
  }

  .planning-para-box p{
    font-size: 2.8rem;
  }

  .btn_box ul li{
    font-size: 1.9rem;
  }
}

@media (max-width: 786px){
  

}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

}